# Ignore everything in root by default
/*

# Whitelist .gitignore and README
!.gitignore
!README.md

# Whitelist Data Packs & Resource Packs
!Stellarity_Cosmetic_Patch/
!Stellarity_Cosmetic_Patch/**

!Stellarity_Cosmetic_RP/
!Stellarity_Cosmetic_RP/**

!Stellarity_Load_Fix/
!Stellarity_Load_Fix/**

!Stellarity_Compatibility_Patch/
!Stellarity_Compatibility_Patch/**

!Stellarity_Mechanics_Patch/
!Stellarity_Mechanics_Patch/**

# Ignore IDE / Tool config files inside whitelisted folders
**/.spyglassrc.json
**/.vscode/

!Release_Builds/
!Release_Builds/**
!build.py
!LICENSE
