# Ignore everything in root by default
/*

# Whitelist .gitignore, README, project files
!.gitignore
!README.md
!TODO.md
!.gitattributes
!compare_datapacks.py
!sync_patches.py

# Whitelist Data Packs

!Stellarity_Compatibility_Patch/
!Stellarity_Compatibility_Patch/**

!Stellarity_Mechanics_Patch/
!Stellarity_Mechanics_Patch/**

# Ignore Tool
**/.spyglassrc.json
**/.vscode/

# Ignored
Stellarity-5.5.5/
tru.e-ending-1.1.4d/
Stellarity-5.5.5-RP/
Stellarity_Cosmetic_RP/
STE-Mod/
Stellarity_Load_Fix/
Stellarity_Cosmetic_Patch/
Stellarity_TrueEnding_Patch_old/

!Release_Builds/
!Release_Builds/**
Release_Builds/*.zip
!Release_Builds/Stellarity_Compatibility_Patch.zip
!Release_Builds/Stellarity_Mechanics_Patch.zip

!build.py
!LICENSE

!nullscape_compat/
!nullscape_compat/**
