
* text=auto eol=lf

# для файлов датапака
*.mcfunction text eol=lf
*.json text eol=lf
*.mcmeta text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Бинарные файлы
*.png binary
*.zip binary
*.jar binary
